@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  padding-top: 300px;
  margin-left: 29%;
  align-items: center;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 30px;
}
li {
  list-style: none;
}

.box {
  background-image: url(../images/soup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  font-size: 50px;
  color: white;
}
.boxdos {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 90%;
  margin-left: 70px;
  font-size: 50px;
  justify-content: space-between;
  margin-top: 40px;
}

.imagen {
  width: 100%;

  height: 50px;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-left: 300px;
}
.boxtres {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 90%;
  margin-left: 70px;
  font-size: 50px;
  justify-content: center;
  margin-top: 40px;
}

.boxForth {
  height: 400px;
  width: 90%;
  margin-left: 70px;
  font-size: 50px;
  justify-content: space-between;
  margin-top: 40px;
}
